.cajaflex {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: cadetblue; */
  /* gap: 2%; */
}
.cajaflex h3 {
  display: block;
  width: 100%;
  font-size: 3em;
  font-weight: 100;
  margin: 50px 1% 10px 1%;
  color: #1b3c72;
  border-bottom: solid 1px #ccc;
}

.itemflex {
  min-width: 375px;
  max-width: 600px;
  width: 48%;
  text-align: center;
  margin: 20px;
  /* 
  background-color: blueviolet; */
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bumper {
  display: flex;
  width: 100%;
  justify-content: center;
}
