.cajaflex {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  width: 100%;
  justify-content: center;
  align-items: center;

  /* gap: 2%; */
}
.cajaflex h3 {
  display: block;
  width: 100%;
  font-size: 3em;
  font-weight: 100;
  margin: 50px 10vw 10px 10vw;
  color: #1b3c72;
  border-bottom: solid 1px #ccc;
}

.itemflex {
  min-width: 280px;
  max-width: 600px;
  width: 48%;
  text-align: center;
  margin: 20px 1vw;
  /* background-color: #eee; */
  box-shadow: 0px 0px 14px -5px #333;
}
.video-container {
  border-radius: 10px;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ltv-bumper-suscripcion {
  width: 100%;

  padding: 10px;
}
.bumper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.transparente {
  border-radius: 0;
  box-shadow: none;
  background: transparent;
}
